.keyboard{
  visibility: hidden;
}
.keyboard .row,
.replay {
	display: flex;
	justify-content: center;
	gap: 1px;
  margin-bottom: 5px;

  touch-action: manipulation;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.keyboard .tile {
	width: 2rem;
	height: 3rem;

	color:  white;
	font-weight: 900;
	font-size: 1rem;

  border-width: 2px;
  border-radius: 6px;
  border-color: #263725;

	cursor: pointer;
	z-index: 5;
}

.keyboard button {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.keyboard .enter {
  font-size: 1.7rem;
}

/* BACKGROUND COLORS */
.keyboard .tile:not(.present, .correct, .wrong, .double) {
  background: #071409;
}


.replay .replayButton:hover,
.replay .replayButton:active,
.keyboard .enter:hover,
.keyboard .enter:active,
.keyboard .double:hover,
.keyboard .double:active,
.keyboard .tile:not(.present, .correct, .wrong, .double):hover,
.keyboard .tile:not(.present, .correct, .wrong, .double):active {
  background: #263725;
}


.keyboard .tile.correct,
.keyboard .tile.present,
.keyboard .tile.wrong {
  border: 1px solid #121213;
}

.keyboard .double {
  background: #071409;
}

.replay {
	position: fixed;
	bottom: 7.5rem;
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
}

.replayButton{
	visibility: hidden;
  font-size: 2.5rem;
  font-weight: 900;
  color:  white;


  border: 2px solid #263725;
  border-radius: 6px;

  background-color: #071409;
  justify-content: center;

  margin-bottom: 50rem;
  position: absolute;
  touch-action: manipulation;

  width: 10rem;
  display: flex;
  cursor: pointer;
  z-index: 5;
}

/* KEYBOARD RESPONSIVE */
@media only screen and (min-width: 600px) and (min-height: 600px){

  .keyboard .tile {
  font-size: 0.9rem;
  width: 2.75rem;
  height: 3.75rem;

  color:  white;
  font-weight: 900;
  font-size: 1.15rem;
  justify-content: center;
	}

  .replayButton{
    width: 20rem;
    height: 4.5rem;
  }

  .keyboard .double {
      width: 6rem;
  }

  .keyboard .enter {
      font-size: 2rem;
  }

}